* {
	font-family: Impact;
	color: white;
}

html {
	background-image: url('assets/Olympic_swimming.jpg');
	background-size: 100%;
}


#profilepic{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 300px;
	clear: both;
	padding: 20px;
	border-radius: 200px;
}

#top-nav {
	font-style: normal;
	padding-bottom: -10px;
	margin: auto;
	width: 300px;
}

#top-nav ul li {
	display: inline;
	padding: 10px;
}

a {
	text-decoration: none;
	color: #B8B8B8;
}

#top-title {
	border-bottom: 2px solid white;
	position: relative;
	margin: 5px;
	padding-bottom: 60px;
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

section {
	width: 60%;
	float: left;
}

aside {
	width: 35%;
	float: left;
}

footer{
	clear: both;
}


#contact{
	text-align: center;
	padding-top: 30px;
}

#sidebar{
	text-align: center;
	clear: both;
}

#site-footer{
	text-align: center;
	clear: both;
}

