* {
	font-family: Georgia;
	color: black;
}


img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	height: 300px;
	padding-top: 30px;
}

.menu {
	text-align: center;
	color: white;
	font-style: normal;
	padding-bottom: 30px;
}

a {
	text-decoration: none;

}

#toptitle {
	border-bottom: 2px solid black;
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

#contact{
	text-align: center;
	padding-top: 30px;
}

